# Pandas

In [8]:
import pandas as pd
print(pd.__version__)

2.0.3

# Series

In [15]:
import pandas as pd
arr=[1,2,3,4,5,6,7]
arrnew=pd.Series(arr)
print(arrnew)
print(type(arrnew))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
<class 'pandas.core.series.Series'>

In [17]:
import pandas as pd
arr=[1,2,3,4,5,6,7]
arrnew=pd.Series(arr, dtype='float', name='python')
print(arrnew)
print(type(arrnew))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>

In [18]:
s=pd.Series(12,index=[1,2,3,4,5,6])
print(s)

1    12
2    12
3    12
4    12
5    12
6    12
dtype: int64

In [20]:
s1=pd.Series(12,index=[1,2,3,4,5,6])
s2=pd.Series(12,index=[1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
dtype: float64

# Labels

In [3]:
print(arrnew[3])

4

In [5]:
a=[1,2,3]
newa=pd.Series(a,index=["x","y","z"])
print(newa)

x    1
y    2
z    3
dtype: int64

In [6]:
print(newa["y"])

2

# Key/Value Objects as Series

In [7]:
mydict={"0":"zero","1":"one","2":"two"}
a=pd.Series(mydict)
print(a)

0    zero
1     one
2     two
dtype: object

In [8]:
mydict={"0":"zero","1":"one","2":"two"}
a=pd.Series(mydict,index=["0","1"])
print(a)

0    zero
1     one
dtype: object

# DataFrames

In [22]:
import pandas as pd
x=[1,2,3,4,5]
xnew=pd.DataFrame(x)
print(xnew)

   0
0  1
1  2
2  3
3  4
4  5

In [10]:
import pandas as pd
x={"No":[0,1,2,3,4,5],"Words":["zero","one","two","three","four","five"]}
xnew=pd.DataFrame(x)
print(xnew)

   No  Words
0   0   zero
1   1    one
2   2    two
3   3  three
4   4   four
5   5   five

In [25]:
import pandas as pd
list_1=[[1,2,3],[4,5,6]]
newlist=pd.DataFrame(list_1)
print(newlist)

   0  1  2
0  1  2  3
1  4  5  6

In [27]:
sr={"s":pd.Series([1,2,3]),"r":pd.Series([1,2,3])}
srnew=pd.DataFrame(sr)
print(srnew)

   s  r
0  1  1
1  2  2
2  3  3

In [23]:
import pandas as pd
x={"No":[0,1,2,3,4,5],"Words":["zero","one","two","three","four","five"]}
xnew=pd.DataFrame(x,columns=["Words"])
print(xnew)

   Words
0   zero
1    one
2    two
3  three
4   four
5   five

In [24]:
print(xnew["Words"][3])

three

# Locate row

In [12]:
import pandas as pd
x={"No":[0,1,2,3,4,5],"Words":["zero","one","two","three","four","five"]}
xnew=pd.DataFrame(x)
print(xnew)

   No  Words
0   0   zero
1   1    one
2   2    two
3   3  three
4   4   four
5   5   five

In [16]:
print(xnew.loc[2])

No         2
Words    two
Name: 2, dtype: object

In [18]:
print(xnew.loc[[1,2]])

   No Words
1   1   one
2   2   two

# Named Indexes

In [19]:
import pandas as pd
x={"No":[1,2,3],"Words":["one","two","three"]}
xnew=pd.DataFrame(x, index=["x","y","z"])
print(xnew)

   No  Words
x   1    one
y   2    two
z   3  three

In [21]:
print(xnew.loc["x"])

No         1
Words    one
Name: x, dtype: object

In [22]:
print(xnew.loc[["x","y"]])

   No Words
x   1   one
y   2   two

# Arithmetic Operations

In [1]:
import pandas as pd
x=pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
print(x)

   A  B
0  1  4
1  2  5
2  3  6

In [2]:
x["C"]=x["A"]+x["B"]
print(x)

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [3]:
x["C"]=x["A"]-x["B"]
print(x)

   A  B  C
0  1  4 -3
1  2  5 -3
2  3  6 -3

In [4]:
x["C"]=x["A"]*x["B"]
print(x)

   A  B   C
0  1  4   4
1  2  5  10
2  3  6  18

In [5]:
x["C"]=x["A"]/x["B"]
print(x)

   A  B     C
0  1  4  0.25
1  2  5  0.40
2  3  6  0.50

In [8]:
import pandas as pd
x=pd.DataFrame({"A":[10,20,30,40,50],"B":[14,15,16,17,18]})
x["newA"]=x["A"] >=20
x["newB"]=x["B"] >=16
print(x)

    A   B   newA   newB
0  10  14  False  False
1  20  15   True  False
2  30  16   True   True
3  40  17   True   True
4  50  18   True   True

# Insert

In [9]:
import pandas as pd
x=pd.DataFrame({"A":[1,2,3,4,5], "B":[6,7,8,9,10]})
x.insert(1,"Acopy",x["A"])
print(x)

   A  Acopy   B
0  1      1   6
1  2      2   7
2  3      3   8
3  4      4   9
4  5      5  10

In [10]:
import pandas as pd
x=pd.DataFrame({"A":[1,2,3,4,5], "B":[6,7,8,9,10]})
x["Panda"]=x["A"][:3]
print(x)

   A   B  Panda
0  1   6    1.0
1  2   7    2.0
2  3   8    3.0
3  4   9    NaN
4  5  10    NaN

# Delete

In [13]:
import pandas as pd
x=pd.DataFrame({"A":[1,2,3,4,5], "B":[6,7,8,9,10],"C":[11,12,13,14,15]})
x.pop("B")
print(x)

   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [14]:
del x["A"]
print(x)

    C
0  11
1  12
2  13
3  14
4  15

# Pandas Read CSV

In [6]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# to_string()

In [7]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# get particular row

In [17]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv",nrows=1)
print(myfile)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1

# get particular column

In [18]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv",usecols=["Maxpulse"])
print(myfile)

     Maxpulse
0         130
1         145
2         135
3         175
4         148
..        ...
164       140
165       145
166       145
167       150
168       150

[169 rows x 1 columns]

# skip

In [1]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv",skiprows=[0,3])
print(myfile.to_string())

      60  110  130   409.1
0     60  117  145   479.0
1     45  109  175   282.4
2     45  117  148   406.0
3     60  102  127   300.0
4     60  110  136   374.0
5     45  104  134   253.3
6     30  109  133   195.1
7     60   98  124   269.0
8     60  103  147   329.3
9     60  100  120   250.7
10    60  106  128   345.3
11    60  104  132   379.3
12    60   98  123   275.0
13    60   98  120   215.2
14    60  100  120   300.0
15    45   90  112     NaN
16    60  103  123   323.0
17    45   97  125   243.0
18    60  108  131   364.2
19    45  100  119   282.0
20    60  130  101   300.0
21    45  105  132   246.0
22    60  102  126   334.5
23    60  100  120   250.0
24    60   92  118   241.0
25    60  103  132     NaN
26    60  100  132   280.0
27    60  102  129   380.3
28    60   92  115   243.0
29    45   90  112   180.1
30    60  101  124   299.0
31    60   93  113   223.0
32    60  107  136   361.0
33    60  114  140   415.0
34    60  102  127   300.0
35    60  100  120   300.0
36    60  100  120   300.0
37    45  104  129   266.0
38    45   90  112   180.1
39    60   98  126   286.0
40    60  100  122   329.4
41    60  111  138   400.0
42    60  111  131   397.0
43    60   99  119   273.0
44    60  109  153   387.6
45    45  111  136   300.0
46    45  108  129   298.0
47    60  111  139   397.6
48    60  107  136   380.2
49    80  123  146   643.1
50    60  106  130   263.0
51    60  118  151   486.0
52    30  136  175   238.0
53    60  121  146   450.7
54    60  118  121   413.0
55    45  115  144   305.0
56    20  153  172   226.4
57    45  123  152   321.0
58   210  108  160  1376.0
59   160  110  137  1034.4
60   160  109  135   853.0
61    45  118  141   341.0
62    20  110  130   131.4
63   180   90  130   800.4
64   150  105  135   873.4
65   150  107  130   816.0
66    20  106  136   110.4
67   300  108  143  1500.2
68   150   97  129  1115.0
69    60  109  153   387.6
70    90  100  127   700.0
71   150   97  127   953.2
72    45  114  146   304.0
73    90   98  125   563.2
74    45  105  134   251.0
75    45  110  141   300.0
76   120  100  130   500.4
77   270  100  131  1729.0
78    30  159  182   319.2
79    45  149  169   344.0
80    30  103  139   151.1
81   120  100  130   500.0
82    45  100  120   225.3
83    30  151  170   300.0
84    45  102  136   234.0
85   120  100  157  1000.1
86    45  129  103   242.0
87    20   83  107    50.3
88   180  101  127   600.1
89    45  107  137     NaN
90    30   90  107   105.3
91    15   80  100    50.5
92    20  150  171   127.4
93    20  151  168   229.4
94    30   95  128   128.2
95    25  152  168   244.2
96    30  109  131   188.2
97    90   93  124   604.1
98    20   95  112    77.7
99    90   90  110   500.0
100   90   90  100   500.0
101   90   90  100   500.4
102   30   92  108    92.7
103   30   93  128   124.0
104  180   90  120   800.3
105   30   90  120    86.2
106   90   90  120   500.3
107  210  137  184  1860.4
108   60  102  124   325.2
109   45  107  124   275.0
110   15  124  139   124.2
111   45  100  120   225.3
112   60  108  131   367.6
113   60  108  151   351.7
114   60  116  141   443.0
115   60   97  122   277.4
116   60  105  125     NaN
117   60  103  124   332.7
118   30  112  137   193.9
119   45  100  120   100.7
120   60  119  169   336.7
121   60  107  127   344.9
122   60  111  151   368.5
123   60   98  122   271.0
124   60   97  124   275.3
125   60  109  127   382.0
126   90   99  125   466.4
127   60  114  151   384.0
128   60  104  134   342.5
129   60  107  138   357.5
130   60  103  133   335.0
131   60  106  132   327.5
132   60  103  136   339.0
133   20  136  156   189.0
134   45  117  143   317.7
135   45  115  137   318.0
136   45  113  138   308.0
137   20  141  162   222.4
138   60  108  135   390.0
139   60   97  127     NaN
140   45  100  120   250.4
141   45  122  149   335.4
142   60  136  170   470.2
143   45  106  126   270.8
144   60  107  136   400.0
145   60  112  146   361.9
146   30  103  127   185.0
147   60  110  150   409.4
148   60  106  134   343.0
149   60  109  129   353.2
150   60  109  138   374.0
151   30  150  167   275.8
152   60  105  128   328.0
153   60  111  151   368.5
154   60   97  131   270.4
155   60  100  120   270.4
156   60  114  150   382.8
157   30   80  120   240.9
158   30   85  120   250.4
159   45   90  130   260.4
160   45   95  130   270.0
161   45  100  140   280.9
162   60  105  140   290.8
163   60  110  145   300.0
164   60  115  145   310.2
165   75  120  150   320.4
166   75  125  150   330.4

# Header

In [3]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv", header= 2)
print(myfile.to_string())

      60  117  145     479
0     60  103  135   340.0
1     45  109  175   282.4
2     45  117  148   406.0
3     60  102  127   300.0
4     60  110  136   374.0
5     45  104  134   253.3
6     30  109  133   195.1
7     60   98  124   269.0
8     60  103  147   329.3
9     60  100  120   250.7
10    60  106  128   345.3
11    60  104  132   379.3
12    60   98  123   275.0
13    60   98  120   215.2
14    60  100  120   300.0
15    45   90  112     NaN
16    60  103  123   323.0
17    45   97  125   243.0
18    60  108  131   364.2
19    45  100  119   282.0
20    60  130  101   300.0
21    45  105  132   246.0
22    60  102  126   334.5
23    60  100  120   250.0
24    60   92  118   241.0
25    60  103  132     NaN
26    60  100  132   280.0
27    60  102  129   380.3
28    60   92  115   243.0
29    45   90  112   180.1
30    60  101  124   299.0
31    60   93  113   223.0
32    60  107  136   361.0
33    60  114  140   415.0
34    60  102  127   300.0
35    60  100  120   300.0
36    60  100  120   300.0
37    45  104  129   266.0
38    45   90  112   180.1
39    60   98  126   286.0
40    60  100  122   329.4
41    60  111  138   400.0
42    60  111  131   397.0
43    60   99  119   273.0
44    60  109  153   387.6
45    45  111  136   300.0
46    45  108  129   298.0
47    60  111  139   397.6
48    60  107  136   380.2
49    80  123  146   643.1
50    60  106  130   263.0
51    60  118  151   486.0
52    30  136  175   238.0
53    60  121  146   450.7
54    60  118  121   413.0
55    45  115  144   305.0
56    20  153  172   226.4
57    45  123  152   321.0
58   210  108  160  1376.0
59   160  110  137  1034.4
60   160  109  135   853.0
61    45  118  141   341.0
62    20  110  130   131.4
63   180   90  130   800.4
64   150  105  135   873.4
65   150  107  130   816.0
66    20  106  136   110.4
67   300  108  143  1500.2
68   150   97  129  1115.0
69    60  109  153   387.6
70    90  100  127   700.0
71   150   97  127   953.2
72    45  114  146   304.0
73    90   98  125   563.2
74    45  105  134   251.0
75    45  110  141   300.0
76   120  100  130   500.4
77   270  100  131  1729.0
78    30  159  182   319.2
79    45  149  169   344.0
80    30  103  139   151.1
81   120  100  130   500.0
82    45  100  120   225.3
83    30  151  170   300.0
84    45  102  136   234.0
85   120  100  157  1000.1
86    45  129  103   242.0
87    20   83  107    50.3
88   180  101  127   600.1
89    45  107  137     NaN
90    30   90  107   105.3
91    15   80  100    50.5
92    20  150  171   127.4
93    20  151  168   229.4
94    30   95  128   128.2
95    25  152  168   244.2
96    30  109  131   188.2
97    90   93  124   604.1
98    20   95  112    77.7
99    90   90  110   500.0
100   90   90  100   500.0
101   90   90  100   500.4
102   30   92  108    92.7
103   30   93  128   124.0
104  180   90  120   800.3
105   30   90  120    86.2
106   90   90  120   500.3
107  210  137  184  1860.4
108   60  102  124   325.2
109   45  107  124   275.0
110   15  124  139   124.2
111   45  100  120   225.3
112   60  108  131   367.6
113   60  108  151   351.7
114   60  116  141   443.0
115   60   97  122   277.4
116   60  105  125     NaN
117   60  103  124   332.7
118   30  112  137   193.9
119   45  100  120   100.7
120   60  119  169   336.7
121   60  107  127   344.9
122   60  111  151   368.5
123   60   98  122   271.0
124   60   97  124   275.3
125   60  109  127   382.0
126   90   99  125   466.4
127   60  114  151   384.0
128   60  104  134   342.5
129   60  107  138   357.5
130   60  103  133   335.0
131   60  106  132   327.5
132   60  103  136   339.0
133   20  136  156   189.0
134   45  117  143   317.7
135   45  115  137   318.0
136   45  113  138   308.0
137   20  141  162   222.4
138   60  108  135   390.0
139   60   97  127     NaN
140   45  100  120   250.4
141   45  122  149   335.4
142   60  136  170   470.2
143   45  106  126   270.8
144   60  107  136   400.0
145   60  112  146   361.9
146   30  103  127   185.0
147   60  110  150   409.4
148   60  106  134   343.0
149   60  109  129   353.2
150   60  109  138   374.0
151   30  150  167   275.8
152   60  105  128   328.0
153   60  111  151   368.5
154   60   97  131   270.4
155   60  100  120   270.4
156   60  114  150   382.8
157   30   80  120   240.9
158   30   85  120   250.4
159   45   90  130   260.4
160   45   95  130   270.0
161   45  100  140   280.9
162   60  105  140   290.8
163   60  110  145   300.0
164   60  115  145   310.2
165   75  120  150   320.4
166   75  125  150   330.4

# index col

In [21]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv",index_col="Duration")
print(myfile)

          Pulse  Maxpulse  Calories
Duration
60          110       130     409.1
60          117       145     479.0
60          103       135     340.0
45          109       175     282.4
45          117       148     406.0
...         ...       ...       ...
60          105       140     290.8
60          110       145     300.0
60          115       145     310.2
75          120       150     320.4
75          125       150     330.4

[169 rows x 3 columns]

# names

In [4]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv",names=["col1","col2","col3","col4"])
print(myfile)

         col1   col2      col3      col4
0    Duration  Pulse  Maxpulse  Calories
1          60    110       130     409.1
2          60    117       145       479
3          60    103       135       340
4          45    109       175     282.4
..        ...    ...       ...       ...
165        60    105       140     290.8
166        60    110       145       300
167        60    115       145     310.2
168        75    120       150     320.4
169        75    125       150     330.4

[170 rows x 4 columns]

# dtype

In [8]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv",dtype={"Maxpulse": "float"})
print(myfile)

     Duration  Pulse  Maxpulse  Calories
0          60    110     130.0     409.1
1          60    117     145.0     479.0
2          60    103     135.0     340.0
3          45    109     175.0     282.4
4          45    117     148.0     406.0
..        ...    ...       ...       ...
164        60    105     140.0     290.8
165        60    110     145.0     300.0
166        60    115     145.0     310.2
167        75    120     150.0     320.4
168        75    125     150.0     330.4

[169 rows x 4 columns]

In [14]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv",dtype={"Maxpulse": "f"})
print(myfile.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110     130.0     409.1
1          60    117     145.0     479.0
2          60    103     135.0     340.0
3          45    109     175.0     282.4
4          45    117     148.0     406.0
5          60    102     127.0     300.0
6          60    110     136.0     374.0
7          45    104     134.0     253.3
8          30    109     133.0     195.1
9          60     98     124.0     269.0
10         60    103     147.0     329.3
11         60    100     120.0     250.7
12         60    106     128.0     345.3
13         60    104     132.0     379.3
14         60     98     123.0     275.0
15         60     98     120.0     215.2
16         60    100     120.0     300.0
17         45     90     112.0       NaN
18         60    103     123.0     323.0
19         45     97     125.0     243.0
20         60    108     131.0     364.2
21         45    100     119.0     282.0
22         60    130     101.0     300.0
23         45    105     132.0     246.0
24         60    102     126.0     334.5
25         60    100     120.0     250.0
26         60     92     118.0     241.0
27         60    103     132.0       NaN
28         60    100     132.0     280.0
29         60    102     129.0     380.3
30         60     92     115.0     243.0
31         45     90     112.0     180.1
32         60    101     124.0     299.0
33         60     93     113.0     223.0
34         60    107     136.0     361.0
35         60    114     140.0     415.0
36         60    102     127.0     300.0
37         60    100     120.0     300.0
38         60    100     120.0     300.0
39         45    104     129.0     266.0
40         45     90     112.0     180.1
41         60     98     126.0     286.0
42         60    100     122.0     329.4
43         60    111     138.0     400.0
44         60    111     131.0     397.0
45         60     99     119.0     273.0
46         60    109     153.0     387.6
47         45    111     136.0     300.0
48         45    108     129.0     298.0
49         60    111     139.0     397.6
50         60    107     136.0     380.2
51         80    123     146.0     643.1
52         60    106     130.0     263.0
53         60    118     151.0     486.0
54         30    136     175.0     238.0
55         60    121     146.0     450.7
56         60    118     121.0     413.0
57         45    115     144.0     305.0
58         20    153     172.0     226.4
59         45    123     152.0     321.0
60        210    108     160.0    1376.0
61        160    110     137.0    1034.4
62        160    109     135.0     853.0
63         45    118     141.0     341.0
64         20    110     130.0     131.4
65        180     90     130.0     800.4
66        150    105     135.0     873.4
67        150    107     130.0     816.0
68         20    106     136.0     110.4
69        300    108     143.0    1500.2
70        150     97     129.0    1115.0
71         60    109     153.0     387.6
72         90    100     127.0     700.0
73        150     97     127.0     953.2
74         45    114     146.0     304.0
75         90     98     125.0     563.2
76         45    105     134.0     251.0
77         45    110     141.0     300.0
78        120    100     130.0     500.4
79        270    100     131.0    1729.0
80         30    159     182.0     319.2
81         45    149     169.0     344.0
82         30    103     139.0     151.1
83        120    100     130.0     500.0
84         45    100     120.0     225.3
85         30    151     170.0     300.0
86         45    102     136.0     234.0
87        120    100     157.0    1000.1
88         45    129     103.0     242.0
89         20     83     107.0      50.3
90        180    101     127.0     600.1
91         45    107     137.0       NaN
92         30     90     107.0     105.3
93         15     80     100.0      50.5
94         20    150     171.0     127.4
95         20    151     168.0     229.4
96         30     95     128.0     128.2
97         25    152     168.0     244.2
98         30    109     131.0     188.2
99         90     93     124.0     604.1
100        20     95     112.0      77.7
101        90     90     110.0     500.0
102        90     90     100.0     500.0
103        90     90     100.0     500.4
104        30     92     108.0      92.7
105        30     93     128.0     124.0
106       180     90     120.0     800.3
107        30     90     120.0      86.2
108        90     90     120.0     500.3
109       210    137     184.0    1860.4
110        60    102     124.0     325.2
111        45    107     124.0     275.0
112        15    124     139.0     124.2
113        45    100     120.0     225.3
114        60    108     131.0     367.6
115        60    108     151.0     351.7
116        60    116     141.0     443.0
117        60     97     122.0     277.4
118        60    105     125.0       NaN
119        60    103     124.0     332.7
120        30    112     137.0     193.9
121        45    100     120.0     100.7
122        60    119     169.0     336.7
123        60    107     127.0     344.9
124        60    111     151.0     368.5
125        60     98     122.0     271.0
126        60     97     124.0     275.3
127        60    109     127.0     382.0
128        90     99     125.0     466.4
129        60    114     151.0     384.0
130        60    104     134.0     342.5
131        60    107     138.0     357.5
132        60    103     133.0     335.0
133        60    106     132.0     327.5
134        60    103     136.0     339.0
135        20    136     156.0     189.0
136        45    117     143.0     317.7
137        45    115     137.0     318.0
138        45    113     138.0     308.0
139        20    141     162.0     222.4
140        60    108     135.0     390.0
141        60     97     127.0       NaN
142        45    100     120.0     250.4
143        45    122     149.0     335.4
144        60    136     170.0     470.2
145        45    106     126.0     270.8
146        60    107     136.0     400.0
147        60    112     146.0     361.9
148        30    103     127.0     185.0
149        60    110     150.0     409.4
150        60    106     134.0     343.0
151        60    109     129.0     353.2
152        60    109     138.0     374.0
153        30    150     167.0     275.8
154        60    105     128.0     328.0
155        60    111     151.0     368.5
156        60     97     131.0     270.4
157        60    100     120.0     270.4
158        60    114     150.0     382.8
159        30     80     120.0     240.9
160        30     85     120.0     250.4
161        45     90     130.0     260.4
162        45     95     130.0     270.0
163        45    100     140.0     280.9
164        60    105     140.0     290.8
165        60    110     145.0     300.0
166        60    115     145.0     310.2
167        75    120     150.0     320.4
168        75    125     150.0     330.4

# pandas functions

In [15]:
import pandas as pd

# index

In [17]:
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.index)

RangeIndex(start=0, stop=169, step=1)

# columns

In [18]:
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.columns)

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

# describe

In [23]:
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
myfile.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

# slicing

In [24]:
myfile[:5]

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [25]:
myfile[6:11]

    Duration  Pulse  Maxpulse  Calories
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3

# convert index number to an array

In [26]:
myfile.index.array

<PandasArray>
[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
 ...
 159, 160, 161, 162, 163, 164, 165, 166, 167, 168]
Length: 169, dtype: int64

# convert it into numpy

In [27]:
myfile.to_numpy()

array([[  60. ,  110. ,  130. ,  409.1],
       [  60. ,  117. ,  145. ,  479. ],
       [  60. ,  103. ,  135. ,  340. ],
       [  45. ,  109. ,  175. ,  282.4],
       [  45. ,  117. ,  148. ,  406. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  110. ,  136. ,  374. ],
       [  45. ,  104. ,  134. ,  253.3],
       [  30. ,  109. ,  133. ,  195.1],
       [  60. ,   98. ,  124. ,  269. ],
       [  60. ,  103. ,  147. ,  329.3],
       [  60. ,  100. ,  120. ,  250.7],
       [  60. ,  106. ,  128. ,  345.3],
       [  60. ,  104. ,  132. ,  379.3],
       [  60. ,   98. ,  123. ,  275. ],
       [  60. ,   98. ,  120. ,  215.2],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,   90. ,  112. ,    nan],
       [  60. ,  103. ,  123. ,  323. ],
       [  45. ,   97. ,  125. ,  243. ],
       [  60. ,  108. ,  131. ,  364.2],
       [  45. ,  100. ,  119. ,  282. ],
       [  60. ,  130. ,  101. ,  300. ],
       [  45. ,  105. ,  132. ,  246. ],
       [  60. ,  102. ,  126. ,  334.5],
       [  60. ,  100. ,  120. ,  250. ],
       [  60. ,   92. ,  118. ,  241. ],
       [  60. ,  103. ,  132. ,    nan],
       [  60. ,  100. ,  132. ,  280. ],
       [  60. ,  102. ,  129. ,  380.3],
       [  60. ,   92. ,  115. ,  243. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,  101. ,  124. ,  299. ],
       [  60. ,   93. ,  113. ,  223. ],
       [  60. ,  107. ,  136. ,  361. ],
       [  60. ,  114. ,  140. ,  415. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,  104. ,  129. ,  266. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,   98. ,  126. ,  286. ],
       [  60. ,  100. ,  122. ,  329.4],
       [  60. ,  111. ,  138. ,  400. ],
       [  60. ,  111. ,  131. ,  397. ],
       [  60. ,   99. ,  119. ,  273. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  45. ,  111. ,  136. ,  300. ],
       [  45. ,  108. ,  129. ,  298. ],
       [  60. ,  111. ,  139. ,  397.6],
       [  60. ,  107. ,  136. ,  380.2],
       [  80. ,  123. ,  146. ,  643.1],
       [  60. ,  106. ,  130. ,  263. ],
       [  60. ,  118. ,  151. ,  486. ],
       [  30. ,  136. ,  175. ,  238. ],
       [  60. ,  121. ,  146. ,  450.7],
       [  60. ,  118. ,  121. ,  413. ],
       [  45. ,  115. ,  144. ,  305. ],
       [  20. ,  153. ,  172. ,  226.4],
       [  45. ,  123. ,  152. ,  321. ],
       [ 210. ,  108. ,  160. , 1376. ],
       [ 160. ,  110. ,  137. , 1034.4],
       [ 160. ,  109. ,  135. ,  853. ],
       [  45. ,  118. ,  141. ,  341. ],
       [  20. ,  110. ,  130. ,  131.4],
       [ 180. ,   90. ,  130. ,  800.4],
       [ 150. ,  105. ,  135. ,  873.4],
       [ 150. ,  107. ,  130. ,  816. ],
       [  20. ,  106. ,  136. ,  110.4],
       [ 300. ,  108. ,  143. , 1500.2],
       [ 150. ,   97. ,  129. , 1115. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  90. ,  100. ,  127. ,  700. ],
       [ 150. ,   97. ,  127. ,  953.2],
       [  45. ,  114. ,  146. ,  304. ],
       [  90. ,   98. ,  125. ,  563.2],
       [  45. ,  105. ,  134. ,  251. ],
       [  45. ,  110. ,  141. ,  300. ],
       [ 120. ,  100. ,  130. ,  500.4],
       [ 270. ,  100. ,  131. , 1729. ],
       [  30. ,  159. ,  182. ,  319.2],
       [  45. ,  149. ,  169. ,  344. ],
       [  30. ,  103. ,  139. ,  151.1],
       [ 120. ,  100. ,  130. ,  500. ],
       [  45. ,  100. ,  120. ,  225.3],
       [  30. ,  151. ,  170. ,  300. ],
       [  45. ,  102. ,  136. ,  234. ],
       [ 120. ,  100. ,  157. , 1000.1],
       [  45. ,  129. ,  103. ,  242. ],
       [  20. ,   83. ,  107. ,   50.3],
       [ 180. ,  101. ,  127. ,  600.1],
       [  45. ,  107. ,  137. ,    nan],
       [  30. ,   90. ,  107. ,  105.3],
       [  15. ,   80. ,  100. ,   50.5],
       [  20. ,  150. ,  171. ,  127.4],
       [  20. ,  151. ,  168. ,  229.4],
       [  30. ,   95. ,  128. ,  128.2],
       [  25. ,  152. ,  168. ,  244.2],
       [  30. ,  109. ,  131. ,  188.2],
       [  90. ,   93. ,  124. ,  604.1],
       [  20. ,   95. ,  112. ,   77.7],
       [  90. ,   90. ,  110. ,  500. ],
       [  90. ,   90. ,  100. ,  500. ],
       [  90. ,   90. ,  100. ,  500.4],
       [  30. ,   92. ,  108. ,   92.7],
       [  30. ,   93. ,  128. ,  124. ],
       [ 180. ,   90. ,  120. ,  800.3],
       [  30. ,   90. ,  120. ,   86.2],
       [  90. ,   90. ,  120. ,  500.3],
       [ 210. ,  137. ,  184. , 1860.4],
       [  60. ,  102. ,  124. ,  325.2],
       [  45. ,  107. ,  124. ,  275. ],
       [  15. ,  124. ,  139. ,  124.2],
       [  45. ,  100. ,  120. ,  225.3],
       [  60. ,  108. ,  131. ,  367.6],
       [  60. ,  108. ,  151. ,  351.7],
       [  60. ,  116. ,  141. ,  443. ],
       [  60. ,   97. ,  122. ,  277.4],
       [  60. ,  105. ,  125. ,    nan],
       [  60. ,  103. ,  124. ,  332.7],
       [  30. ,  112. ,  137. ,  193.9],
       [  45. ,  100. ,  120. ,  100.7],
       [  60. ,  119. ,  169. ,  336.7],
       [  60. ,  107. ,  127. ,  344.9],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   98. ,  122. ,  271. ],
       [  60. ,   97. ,  124. ,  275.3],
       [  60. ,  109. ,  127. ,  382. ],
       [  90. ,   99. ,  125. ,  466.4],
       [  60. ,  114. ,  151. ,  384. ],
       [  60. ,  104. ,  134. ,  342.5],
       [  60. ,  107. ,  138. ,  357.5],
       [  60. ,  103. ,  133. ,  335. ],
       [  60. ,  106. ,  132. ,  327.5],
       [  60. ,  103. ,  136. ,  339. ],
       [  20. ,  136. ,  156. ,  189. ],
       [  45. ,  117. ,  143. ,  317.7],
       [  45. ,  115. ,  137. ,  318. ],
       [  45. ,  113. ,  138. ,  308. ],
       [  20. ,  141. ,  162. ,  222.4],
       [  60. ,  108. ,  135. ,  390. ],
       [  60. ,   97. ,  127. ,    nan],
       [  45. ,  100. ,  120. ,  250.4],
       [  45. ,  122. ,  149. ,  335.4],
       [  60. ,  136. ,  170. ,  470.2],
       [  45. ,  106. ,  126. ,  270.8],
       [  60. ,  107. ,  136. ,  400. ],
       [  60. ,  112. ,  146. ,  361.9],
       [  30. ,  103. ,  127. ,  185. ],
       [  60. ,  110. ,  150. ,  409.4],
       [  60. ,  106. ,  134. ,  343. ],
       [  60. ,  109. ,  129. ,  353.2],
       [  60. ,  109. ,  138. ,  374. ],
       [  30. ,  150. ,  167. ,  275.8],
       [  60. ,  105. ,  128. ,  328. ],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   97. ,  131. ,  270.4],
       [  60. ,  100. ,  120. ,  270.4],
       [  60. ,  114. ,  150. ,  382.8],
       [  30. ,   80. ,  120. ,  240.9],
       [  30. ,   85. ,  120. ,  250.4],
       [  45. ,   90. ,  130. ,  260.4],
       [  45. ,   95. ,  130. ,  270. ],
       [  45. ,  100. ,  140. ,  280.9],
       [  60. ,  105. ,  140. ,  290.8],
       [  60. ,  110. ,  145. ,  300. ],
       [  60. ,  115. ,  145. ,  310.2],
       [  75. ,  120. ,  150. ,  320.4],
       [  75. ,  125. ,  150. ,  330.4]])

In [29]:
import numpy as np
v=np.asarray(myfile)
print(v)

[[  60.   110.   130.   409.1]
 [  60.   117.   145.   479. ]
 [  60.   103.   135.   340. ]
 [  45.   109.   175.   282.4]
 [  45.   117.   148.   406. ]
 [  60.   102.   127.   300. ]
 [  60.   110.   136.   374. ]
 [  45.   104.   134.   253.3]
 [  30.   109.   133.   195.1]
 [  60.    98.   124.   269. ]
 [  60.   103.   147.   329.3]
 [  60.   100.   120.   250.7]
 [  60.   106.   128.   345.3]
 [  60.   104.   132.   379.3]
 [  60.    98.   123.   275. ]
 [  60.    98.   120.   215.2]
 [  60.   100.   120.   300. ]
 [  45.    90.   112.     nan]
 [  60.   103.   123.   323. ]
 [  45.    97.   125.   243. ]
 [  60.   108.   131.   364.2]
 [  45.   100.   119.   282. ]
 [  60.   130.   101.   300. ]
 [  45.   105.   132.   246. ]
 [  60.   102.   126.   334.5]
 [  60.   100.   120.   250. ]
 [  60.    92.   118.   241. ]
 [  60.   103.   132.     nan]
 [  60.   100.   132.   280. ]
 [  60.   102.   129.   380.3]
 [  60.    92.   115.   243. ]
 [  45.    90.   112.   180.1]
 [  60.   101.   124.   299. ]
 [  60.    93.   113.   223. ]
 [  60.   107.   136.   361. ]
 [  60.   114.   140.   415. ]
 [  60.   102.   127.   300. ]
 [  60.   100.   120.   300. ]
 [  60.   100.   120.   300. ]
 [  45.   104.   129.   266. ]
 [  45.    90.   112.   180.1]
 [  60.    98.   126.   286. ]
 [  60.   100.   122.   329.4]
 [  60.   111.   138.   400. ]
 [  60.   111.   131.   397. ]
 [  60.    99.   119.   273. ]
 [  60.   109.   153.   387.6]
 [  45.   111.   136.   300. ]
 [  45.   108.   129.   298. ]
 [  60.   111.   139.   397.6]
 [  60.   107.   136.   380.2]
 [  80.   123.   146.   643.1]
 [  60.   106.   130.   263. ]
 [  60.   118.   151.   486. ]
 [  30.   136.   175.   238. ]
 [  60.   121.   146.   450.7]
 [  60.   118.   121.   413. ]
 [  45.   115.   144.   305. ]
 [  20.   153.   172.   226.4]
 [  45.   123.   152.   321. ]
 [ 210.   108.   160.  1376. ]
 [ 160.   110.   137.  1034.4]
 [ 160.   109.   135.   853. ]
 [  45.   118.   141.   341. ]
 [  20.   110.   130.   131.4]
 [ 180.    90.   130.   800.4]
 [ 150.   105.   135.   873.4]
 [ 150.   107.   130.   816. ]
 [  20.   106.   136.   110.4]
 [ 300.   108.   143.  1500.2]
 [ 150.    97.   129.  1115. ]
 [  60.   109.   153.   387.6]
 [  90.   100.   127.   700. ]
 [ 150.    97.   127.   953.2]
 [  45.   114.   146.   304. ]
 [  90.    98.   125.   563.2]
 [  45.   105.   134.   251. ]
 [  45.   110.   141.   300. ]
 [ 120.   100.   130.   500.4]
 [ 270.   100.   131.  1729. ]
 [  30.   159.   182.   319.2]
 [  45.   149.   169.   344. ]
 [  30.   103.   139.   151.1]
 [ 120.   100.   130.   500. ]
 [  45.   100.   120.   225.3]
 [  30.   151.   170.   300. ]
 [  45.   102.   136.   234. ]
 [ 120.   100.   157.  1000.1]
 [  45.   129.   103.   242. ]
 [  20.    83.   107.    50.3]
 [ 180.   101.   127.   600.1]
 [  45.   107.   137.     nan]
 [  30.    90.   107.   105.3]
 [  15.    80.   100.    50.5]
 [  20.   150.   171.   127.4]
 [  20.   151.   168.   229.4]
 [  30.    95.   128.   128.2]
 [  25.   152.   168.   244.2]
 [  30.   109.   131.   188.2]
 [  90.    93.   124.   604.1]
 [  20.    95.   112.    77.7]
 [  90.    90.   110.   500. ]
 [  90.    90.   100.   500. ]
 [  90.    90.   100.   500.4]
 [  30.    92.   108.    92.7]
 [  30.    93.   128.   124. ]
 [ 180.    90.   120.   800.3]
 [  30.    90.   120.    86.2]
 [  90.    90.   120.   500.3]
 [ 210.   137.   184.  1860.4]
 [  60.   102.   124.   325.2]
 [  45.   107.   124.   275. ]
 [  15.   124.   139.   124.2]
 [  45.   100.   120.   225.3]
 [  60.   108.   131.   367.6]
 [  60.   108.   151.   351.7]
 [  60.   116.   141.   443. ]
 [  60.    97.   122.   277.4]
 [  60.   105.   125.     nan]
 [  60.   103.   124.   332.7]
 [  30.   112.   137.   193.9]
 [  45.   100.   120.   100.7]
 [  60.   119.   169.   336.7]
 [  60.   107.   127.   344.9]
 [  60.   111.   151.   368.5]
 [  60.    98.   122.   271. ]
 [  60.    97.   124.   275.3]
 [  60.   109.   127.   382. ]
 [  90.    99.   125.   466.4]
 [  60.   114.   151.   384. ]
 [  60.   104.   134.   342.5]
 [  60.   107.   138.   357.5]
 [  60.   103.   133.   335. ]
 [  60.   106.   132.   327.5]
 [  60.   103.   136.   339. ]
 [  20.   136.   156.   189. ]
 [  45.   117.   143.   317.7]
 [  45.   115.   137.   318. ]
 [  45.   113.   138.   308. ]
 [  20.   141.   162.   222.4]
 [  60.   108.   135.   390. ]
 [  60.    97.   127.     nan]
 [  45.   100.   120.   250.4]
 [  45.   122.   149.   335.4]
 [  60.   136.   170.   470.2]
 [  45.   106.   126.   270.8]
 [  60.   107.   136.   400. ]
 [  60.   112.   146.   361.9]
 [  30.   103.   127.   185. ]
 [  60.   110.   150.   409.4]
 [  60.   106.   134.   343. ]
 [  60.   109.   129.   353.2]
 [  60.   109.   138.   374. ]
 [  30.   150.   167.   275.8]
 [  60.   105.   128.   328. ]
 [  60.   111.   151.   368.5]
 [  60.    97.   131.   270.4]
 [  60.   100.   120.   270.4]
 [  60.   114.   150.   382.8]
 [  30.    80.   120.   240.9]
 [  30.    85.   120.   250.4]
 [  45.    90.   130.   260.4]
 [  45.    95.   130.   270. ]
 [  45.   100.   140.   280.9]
 [  60.   105.   140.   290.8]
 [  60.   110.   145.   300. ]
 [  60.   115.   145.   310.2]
 [  75.   120.   150.   320.4]
 [  75.   125.   150.   330.4]]

# sort into descending order

In [32]:
myfile.sort_index(axis=0,ascending=False)

     Duration  Pulse  Maxpulse  Calories
168        75    125       150     330.4
167        75    120       150     320.4
166        60    115       145     310.2
165        60    110       145     300.0
164        60    105       140     290.8
..        ...    ...       ...       ...
4          45    117       148     406.0
3          45    109       175     282.4
2          60    103       135     340.0
1          60    117       145     479.0
0          60    110       130     409.1

[169 rows x 4 columns]

# change the data

In [34]:
myfile.loc[2,"Maxpulse"]=23
print(myfile)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103        23     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# to get particular columns and rows data

# loc

In [38]:
myfile.loc[[2,3],["Pulse", "Maxpulse"]]

   Pulse  Maxpulse
2    103        23
3    109       175

In [41]:
myfile.loc[:,["Pulse", "Maxpulse"]]

     Pulse  Maxpulse
0      110       130
1      117       145
2      103        23
3      109       175
4      117       148
..     ...       ...
164    105       140
165    110       145
166    115       145
167    120       150
168    125       150

[169 rows x 2 columns]

# iloc

In [43]:
myfile.iloc[0,1]

110

# drop

# column

In [44]:
myfile.drop("Maxpulse",axis=1)

     Duration  Pulse  Calories
0          60    110     409.1
1          60    117     479.0
2          60    103     340.0
3          45    109     282.4
4          45    117     406.0
..        ...    ...       ...
164        60    105     290.8
165        60    110     300.0
166        60    115     310.2
167        75    120     320.4
168        75    125     330.4

[169 rows x 3 columns]

# row

In [46]:
myfile.drop(1,axis=0)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
2          60    103        23     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[168 rows x 4 columns]

# replace

In [47]:
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
myfile.replace(to_replace=60,value=1)

     Duration  Pulse  Maxpulse  Calories
0           1    110       130     409.1
1           1    117       145     479.0
2           1    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164         1    105       140     290.8
165         1    110       145     300.0
166         1    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# ffill

In [53]:
myfile.replace(45,method="ffill")

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          60    109       175     282.4
4          60    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# bfill

In [54]:
myfile.replace(60,method="bfill")

     Duration  Pulse  Maxpulse  Calories
0          45    110       130     409.1
1          45    117       145     479.0
2          45    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        75    105       140     290.8
165        75    110       145     300.0
166        75    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# limit

In [52]:
myfile.replace(60,method="bfill",limit=2)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          45    117       145     479.0
2          45    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        75    110       145     300.0
166        75    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [56]:
myfile.replace(60,method="bfill",limit=2,inplace=True)
print(myfile)

     Duration  Pulse  Maxpulse  Calories
0          45    110       130     409.1
1          45    117       145     479.0
2          45    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        75    105       140     290.8
165        75    110       145     300.0
166        75    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# interpolate

In [59]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.interpolate().to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130    409.10
1          60    117       145    479.00
2          60    103       135    340.00
3          45    109       175    282.40
4          45    117       148    406.00
5          60    102       127    300.00
6          60    110       136    374.00
7          45    104       134    253.30
8          30    109       133    195.10
9          60     98       124    269.00
10         60    103       147    329.30
11         60    100       120    250.70
12         60    106       128    345.30
13         60    104       132    379.30
14         60     98       123    275.00
15         60     98       120    215.20
16         60    100       120    300.00
17         45     90       112    311.50
18         60    103       123    323.00
19         45     97       125    243.00
20         60    108       131    364.20
21         45    100       119    282.00
22         60    130       101    300.00
23         45    105       132    246.00
24         60    102       126    334.50
25         60    100       120    250.00
26         60     92       118    241.00
27         60    103       132    260.50
28         60    100       132    280.00
29         60    102       129    380.30
30         60     92       115    243.00
31         45     90       112    180.10
32         60    101       124    299.00
33         60     93       113    223.00
34         60    107       136    361.00
35         60    114       140    415.00
36         60    102       127    300.00
37         60    100       120    300.00
38         60    100       120    300.00
39         45    104       129    266.00
40         45     90       112    180.10
41         60     98       126    286.00
42         60    100       122    329.40
43         60    111       138    400.00
44         60    111       131    397.00
45         60     99       119    273.00
46         60    109       153    387.60
47         45    111       136    300.00
48         45    108       129    298.00
49         60    111       139    397.60
50         60    107       136    380.20
51         80    123       146    643.10
52         60    106       130    263.00
53         60    118       151    486.00
54         30    136       175    238.00
55         60    121       146    450.70
56         60    118       121    413.00
57         45    115       144    305.00
58         20    153       172    226.40
59         45    123       152    321.00
60        210    108       160   1376.00
61        160    110       137   1034.40
62        160    109       135    853.00
63         45    118       141    341.00
64         20    110       130    131.40
65        180     90       130    800.40
66        150    105       135    873.40
67        150    107       130    816.00
68         20    106       136    110.40
69        300    108       143   1500.20
70        150     97       129   1115.00
71         60    109       153    387.60
72         90    100       127    700.00
73        150     97       127    953.20
74         45    114       146    304.00
75         90     98       125    563.20
76         45    105       134    251.00
77         45    110       141    300.00
78        120    100       130    500.40
79        270    100       131   1729.00
80         30    159       182    319.20
81         45    149       169    344.00
82         30    103       139    151.10
83        120    100       130    500.00
84         45    100       120    225.30
85         30    151       170    300.00
86         45    102       136    234.00
87        120    100       157   1000.10
88         45    129       103    242.00
89         20     83       107     50.30
90        180    101       127    600.10
91         45    107       137    352.70
92         30     90       107    105.30
93         15     80       100     50.50
94         20    150       171    127.40
95         20    151       168    229.40
96         30     95       128    128.20
97         25    152       168    244.20
98         30    109       131    188.20
99         90     93       124    604.10
100        20     95       112     77.70
101        90     90       110    500.00
102        90     90       100    500.00
103        90     90       100    500.40
104        30     92       108     92.70
105        30     93       128    124.00
106       180     90       120    800.30
107        30     90       120     86.20
108        90     90       120    500.30
109       210    137       184   1860.40
110        60    102       124    325.20
111        45    107       124    275.00
112        15    124       139    124.20
113        45    100       120    225.30
114        60    108       131    367.60
115        60    108       151    351.70
116        60    116       141    443.00
117        60     97       122    277.40
118        60    105       125    305.05
119        60    103       124    332.70
120        30    112       137    193.90
121        45    100       120    100.70
122        60    119       169    336.70
123        60    107       127    344.90
124        60    111       151    368.50
125        60     98       122    271.00
126        60     97       124    275.30
127        60    109       127    382.00
128        90     99       125    466.40
129        60    114       151    384.00
130        60    104       134    342.50
131        60    107       138    357.50
132        60    103       133    335.00
133        60    106       132    327.50
134        60    103       136    339.00
135        20    136       156    189.00
136        45    117       143    317.70
137        45    115       137    318.00
138        45    113       138    308.00
139        20    141       162    222.40
140        60    108       135    390.00
141        60     97       127    320.20
142        45    100       120    250.40
143        45    122       149    335.40
144        60    136       170    470.20
145        45    106       126    270.80
146        60    107       136    400.00
147        60    112       146    361.90
148        30    103       127    185.00
149        60    110       150    409.40
150        60    106       134    343.00
151        60    109       129    353.20
152        60    109       138    374.00
153        30    150       167    275.80
154        60    105       128    328.00
155        60    111       151    368.50
156        60     97       131    270.40
157        60    100       120    270.40
158        60    114       150    382.80
159        30     80       120    240.90
160        30     85       120    250.40
161        45     90       130    260.40
162        45     95       130    270.00
163        45    100       140    280.90
164        60    105       140    290.80
165        60    110       145    300.00
166        60    115       145    310.20
167        75    120       150    320.40
168        75    125       150    330.40

In [60]:
print(myfile.interpolate(method="linear").to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130    409.10
1          60    117       145    479.00
2          60    103       135    340.00
3          45    109       175    282.40
4          45    117       148    406.00
5          60    102       127    300.00
6          60    110       136    374.00
7          45    104       134    253.30
8          30    109       133    195.10
9          60     98       124    269.00
10         60    103       147    329.30
11         60    100       120    250.70
12         60    106       128    345.30
13         60    104       132    379.30
14         60     98       123    275.00
15         60     98       120    215.20
16         60    100       120    300.00
17         45     90       112    311.50
18         60    103       123    323.00
19         45     97       125    243.00
20         60    108       131    364.20
21         45    100       119    282.00
22         60    130       101    300.00
23         45    105       132    246.00
24         60    102       126    334.50
25         60    100       120    250.00
26         60     92       118    241.00
27         60    103       132    260.50
28         60    100       132    280.00
29         60    102       129    380.30
30         60     92       115    243.00
31         45     90       112    180.10
32         60    101       124    299.00
33         60     93       113    223.00
34         60    107       136    361.00
35         60    114       140    415.00
36         60    102       127    300.00
37         60    100       120    300.00
38         60    100       120    300.00
39         45    104       129    266.00
40         45     90       112    180.10
41         60     98       126    286.00
42         60    100       122    329.40
43         60    111       138    400.00
44         60    111       131    397.00
45         60     99       119    273.00
46         60    109       153    387.60
47         45    111       136    300.00
48         45    108       129    298.00
49         60    111       139    397.60
50         60    107       136    380.20
51         80    123       146    643.10
52         60    106       130    263.00
53         60    118       151    486.00
54         30    136       175    238.00
55         60    121       146    450.70
56         60    118       121    413.00
57         45    115       144    305.00
58         20    153       172    226.40
59         45    123       152    321.00
60        210    108       160   1376.00
61        160    110       137   1034.40
62        160    109       135    853.00
63         45    118       141    341.00
64         20    110       130    131.40
65        180     90       130    800.40
66        150    105       135    873.40
67        150    107       130    816.00
68         20    106       136    110.40
69        300    108       143   1500.20
70        150     97       129   1115.00
71         60    109       153    387.60
72         90    100       127    700.00
73        150     97       127    953.20
74         45    114       146    304.00
75         90     98       125    563.20
76         45    105       134    251.00
77         45    110       141    300.00
78        120    100       130    500.40
79        270    100       131   1729.00
80         30    159       182    319.20
81         45    149       169    344.00
82         30    103       139    151.10
83        120    100       130    500.00
84         45    100       120    225.30
85         30    151       170    300.00
86         45    102       136    234.00
87        120    100       157   1000.10
88         45    129       103    242.00
89         20     83       107     50.30
90        180    101       127    600.10
91         45    107       137    352.70
92         30     90       107    105.30
93         15     80       100     50.50
94         20    150       171    127.40
95         20    151       168    229.40
96         30     95       128    128.20
97         25    152       168    244.20
98         30    109       131    188.20
99         90     93       124    604.10
100        20     95       112     77.70
101        90     90       110    500.00
102        90     90       100    500.00
103        90     90       100    500.40
104        30     92       108     92.70
105        30     93       128    124.00
106       180     90       120    800.30
107        30     90       120     86.20
108        90     90       120    500.30
109       210    137       184   1860.40
110        60    102       124    325.20
111        45    107       124    275.00
112        15    124       139    124.20
113        45    100       120    225.30
114        60    108       131    367.60
115        60    108       151    351.70
116        60    116       141    443.00
117        60     97       122    277.40
118        60    105       125    305.05
119        60    103       124    332.70
120        30    112       137    193.90
121        45    100       120    100.70
122        60    119       169    336.70
123        60    107       127    344.90
124        60    111       151    368.50
125        60     98       122    271.00
126        60     97       124    275.30
127        60    109       127    382.00
128        90     99       125    466.40
129        60    114       151    384.00
130        60    104       134    342.50
131        60    107       138    357.50
132        60    103       133    335.00
133        60    106       132    327.50
134        60    103       136    339.00
135        20    136       156    189.00
136        45    117       143    317.70
137        45    115       137    318.00
138        45    113       138    308.00
139        20    141       162    222.40
140        60    108       135    390.00
141        60     97       127    320.20
142        45    100       120    250.40
143        45    122       149    335.40
144        60    136       170    470.20
145        45    106       126    270.80
146        60    107       136    400.00
147        60    112       146    361.90
148        30    103       127    185.00
149        60    110       150    409.40
150        60    106       134    343.00
151        60    109       129    353.20
152        60    109       138    374.00
153        30    150       167    275.80
154        60    105       128    328.00
155        60    111       151    368.50
156        60     97       131    270.40
157        60    100       120    270.40
158        60    114       150    382.80
159        30     80       120    240.90
160        30     85       120    250.40
161        45     90       130    260.40
162        45     95       130    270.00
163        45    100       140    280.90
164        60    105       140    290.80
165        60    110       145    300.00
166        60    115       145    310.20
167        75    120       150    320.40
168        75    125       150    330.40

# merge

In [71]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"C":[6,7,8,9,10]})
pd.merge(var1,var2)

   A   B   C
0  1   6   6
1  2   7   7
2  3   8   8
3  4   9   9
4  5  10  10

In [75]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"C":[6,7,8,9,10]})
pd.merge(var1,var2,on="A")

   A   B   C
0  1   6   6
1  2   7   7
2  3   8   8
3  4   9   9
4  5  10  10

In [77]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"C":[6,7,8,9,10]})
pd.merge(var1,var2,on="A",how="left")   #outer,inner,right

   A   B   C
0  1   6   6
1  2   7   7
2  3   8   8
3  4   9   9
4  5  10  10

In [78]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"C":[6,7,8,9,10]})
pd.merge(var1,var2,on="A",how="left",indicator=True)

   A   B   C _merge
0  1   6   6   both
1  2   7   7   both
2  3   8   8   both
3  4   9   9   both
4  5  10  10   both

In [79]:
import pandas as pd           #for same name
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
pd.merge(var1,var2,left_index=True,right_index=True)

   A_x  B_x  A_y  B_y
0    1    6    1    6
1    2    7    2    7
2    3    8    3    8
3    4    9    4    9
4    5   10    5   10

In [80]:
import pandas as pd           #for changing name
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
pd.merge(var1,var2,left_index=True,right_index=True,suffixes=("name","id"))

   Aname  Bname  Aid  Bid
0      1      6    1    6
1      2      7    2    7
2      3      8    3    8
3      4      9    4    9
4      5     10    5   10

# Concat

In [81]:
s1=pd.Series([1,2,3,4])
s2=pd.Series([1,4,6,4])
pd.concat([s1,s2])

0    1
1    2
2    3
3    4
0    1
1    4
2    6
3    4
dtype: int64

In [82]:
import pandas as pd          
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
pd.concat([var1,var2],axis=1)

   A   B  A   B
0  1   6  1   6
1  2   7  2   7
2  3   8  3   8
3  4   9  4   9
4  5  10  5  10

In [83]:
import pandas as pd          
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3],"B":[6,7,8,]})
pd.concat([var1,var2],axis=1,join="outer")      #union

   A   B    A    B
0  1   6  1.0  6.0
1  2   7  2.0  7.0
2  3   8  3.0  8.0
3  4   9  NaN  NaN
4  5  10  NaN  NaN

In [84]:
import pandas as pd          
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3],"B":[6,7,8,]})
pd.concat([var1,var2],axis=1,join="inner")       #intersection

   A  B  A  B
0  1  6  1  6
1  2  7  2  7
2  3  8  3  8

In [86]:
import pandas as pd          
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
pd.concat([var1,var2],axis=1,keys=["d1","d2"])

  d1     d2
   A   B  A   B
0  1   6  1   6
1  2   7  2   7
2  3   8  3   8
3  4   9  4   9
4  5  10  5  10

# max_rows

In [74]:
import pandas as pd
print(pd.options.display.max_rows)

60

In [9]:
import pandas as pd
pd.options.display.max_rows=999
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# Pandas Read JSON

# Dictionary as JSON

In [10]:
import pandas as pd
data={
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}
df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

# Pandas - Analyzing DataFrames

# head()

In [12]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [15]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

# tail()

In [13]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.tail(10))

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [16]:
import pandas as pd
myfile=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\datasets\data.csv")
print(myfile.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# Info About the Data

In [14]:
print(myfile.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

# Pandas - Cleaning Data

# 1: Cleaning Empty Cells

# Remove Rows

In [9]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [11]:
cleandata=raw_data.dropna()
print(cleandata.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [12]:
raw_data.dropna(inplace=True)
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Replace Empty Values

In [13]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [15]:
raw_data.fillna(130, inplace=True)
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           130    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Replace Only For Specified Columns

In [16]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [17]:
raw_data["Calories"].fillna(130,inplace=True)
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Replace Using Mean, Median, or Mode

# Mean

In [18]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [20]:
x=raw_data["Calories"].mean()
raw_data["Calories"].fillna(x,inplace=True)
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

# Median

In [21]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [22]:
x=raw_data["Calories"].median()
raw_data["Calories"].fillna(x,inplace=True)
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Mode

In [23]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [24]:
x=raw_data["Calories"].mode()[0]
raw_data["Calories"].fillna(x,inplace=True)
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     300.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# 2: Cleaning Data of Wrong Format

In [1]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Convert Into a Correct Format

In [4]:
import pandas as pd
from dateutil.parser import parse
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
clean_data=raw_data.copy()
# Convert the 'Date' column to date format using dateutil parser
clean_data["Date"]=clean_data["Date"].apply(lambda x: parse(x) if pd.notnull(x) else x)
# Display the updated DataFrame
print(clean_data)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

# Removing Rows

In [6]:
clean_data.dropna(subset=["Date"],inplace=True)
print(clean_data)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

# 3: Fixing Wrong Data

In [8]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
raw_data.loc[7,'Duration']=45
print(raw_data.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         45  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Using loop

In [11]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
for x in raw_data.index:
    if raw_data.loc[x,'Duration'] >120:
        raw_data.loc[x,'Duration']=120   
print(raw_data.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        120  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Removing Rows

In [12]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
for i in raw_data.index:
    if raw_data.loc[i,'Duration'] >120:
        raw_data.drop(i,inplace=True)
print(raw_data.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# 4: Removing Duplicates

# Discovering Duplicates

In [13]:
import pandas as pd
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
print(raw_data.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

# Removing Duplicates

In [14]:
raw_data.drop_duplicates(inplace=True)
print(raw_data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Pandas - Data Correlations

In [5]:
import pandas as pd
from dateutil.parser import parse
raw_data=pd.read_csv(r"C:\Users\Aqsa Kanwal\Desktop\rawdata\Dataset.csv")
clean_data=raw_data.copy()
# Convert the 'Date' column to date format using dateutil parser
clean_data["Date"]=clean_data["Date"].apply(lambda x: parse(x) if pd.notnull(x) else x)
# Display the updated DataFrame
print(clean_data)
print(clean_data.corr())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0
          Duration      Date     Pulse  Maxpulse  Calories
Duration  1.000000  0.061008  0.004410  0.049959 -0.114169
Date      0.061008  1.000000  0.081393  0.133163  0.064762
Pulse     0.004410  0.081393  1.000000  0.276583  0.513186
Maxpulse  0.049959  0.133163  0.276583  1.000000  0.357460
Calories -0.114169  0.064762  0.513186  0.357460  1.000000